nav{
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  p{
    color: whitesmoke;
    font-size: 1.5rem;
  }
  button{
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #bd0c23;
    color: white;
    transition: all ease 0.2s;
  }
  button:active{
    scale: 0.98;
  }
}